@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cover-image img {
    width: 100%;
}

.cover-image nav {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
}

.cover-image nav ul {
    list-style-type: none;
    display: block;
    overflow: hidden;
    width: 100%;
}

.cover-image nav ul li {
    float: right;
}

.cover-image nav ul li a {
    color: white;
    font-family: Comic Sans MS;
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    border-radius: 40px;
    margin-top: 5px;
}

.cover-image nav ul li a:hover {
    background-color: rgb(0, 0, 114);
}

.cover-image nav ul li:first-child {
    float: left;
}

.cover-image nav ul li:first-child > a {
    font-family: 'Fraunces', serif;
}

.cover-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-image h1 {
    position: absolute;
    top: 20%;
    font-family: 'Fredoka One', cursive;
    color: white;
}

.egg-display, .faluda-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff2e6;
}

.display-center-1 {
    width: 50%;
    float: left;
}

.display-center-2 {
    width: 50%;
    float: right;
}

.text {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.text h2 {
    font-family: 'Fraunces', serif;
}

.text p {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 10px;
}

.text a {
    font-family: 'Fraunces', serif;
    text-decoration: none;
    color: black;
}

.image-right {
    width: 50%;
    float: right;
}

.image-left {
    width: 50%;
    float: left;
}

.image-left img, .image-right img {
    width: 100%;
}

.underline {
    height: 0.2em;
    width: 20vw;
    border-radius: 0.1em;
    padding-top: 0;
    z-index: -1;
}

.faluda-display::after, .egg-display::after, .main-content::after, .testimonials::after, .image-row::after, .images-1::after , .images-2::after, .orange-cherry::after {
    content: "";
    clear: both;
    display: table;
}

.images-1, .images-2 {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-1 img, .images-2 img {
    width: 100%;
    display: block;
}

.images-1 h3, .images-1 p, .images-2 h3, .images-2 p {
    position: absolute;
}

.images-1 h3, .images-2 h3 {
    padding-top: 170px;
    text-align: center;
    font-family: 'Fraunces', serif;
}

.images-1 p, .images-2 p {
    padding-top: 240px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.images-1 h3, .images-1 p {
    color: hsl(167, 40%, 24%);
}

.images-2 h3, .images-2 p {
    color: hsl(198, 62%, 26%);
}

.testimonials {
    background-color: #fff2e6;
}

.testimonials h2 {
    text-align: center;
    padding-top: 300px;
    font-family: 'Fraunces', serif;
    color: grey;
    padding-bottom: 70px;
}

.ideas {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 20px;
}

.ideas img {
    border-radius: 50%;
    margin-bottom: 50px;
    width: 30%;
}

.ideas p {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 20px;
}

.ideas h3 {
    font-family: 'Fraunces', serif;
    font-size: 25px;
}

.ideas span {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 20px;
    opacity: 0.8;
}

.image-row img {
    width: 25%;
    float: left;
    display: block;
}

.footer {
    background-color: hsl(168, 49%, 59%);
    width: 100%;
}

.footer h2 {
    color: hsl(212, 27%, 19%);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding-top: 50px;
}

.footer span {
    display: inline-block;
    color: hsl(212, 27%, 19%);
    font-family: 'Barlow', sans-serif;
    padding: 20px;
}

.cover-image nav ul li:last-child {
    display: none;
}

/*Mobile version*/

.image-mobile img {
    width: 100%;
}

.display-center-mobile {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff2e6;
}

.mobile-version {
    display: none;
}

@media screen and (max-width: 772px) {
    .images-1 h3, .images-2 h3 {
        padding-top: 70px;
    }
    
    .images-1 p, .images-2 p {
        padding-top: 140px;
    }
}

@media screen and (max-width: 616px) {
    .cover-image nav ul li:first-child {
        display: block;
    }
    .cover-image nav ul li {
        display: none;
    }
    .cover-image nav ul li:last-child {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    .images-1, .images-2, .ideas, .image-row img {
        width: 100%;
    }
    .mobile-version {
        display: block;
    }
    .desktop-version {
        display: none;
    }
}

@media screen and (max-width: 352px) {
    .cover-image h1 {
        display: none;
    }
}